$primary: #4d6919 !important;
$text-primary: #a3cbb1 !important;
$primary-light: #5d1375 !important;
$sidebar-bg-color: #5894ba !important;
$border-color: #5d1375 !important;
$page-bg-color: #5894ba !important;