$header-bg-color: #b30cf7 !important;
$header-text-color: #000000 !important;
$button-bg-color: #fab446 !important;
$button-text-color: #000000 !important;
$heading-bg-color: #fab446 !important;
$heading-text-color: #0e5b1e !important;