//$primary: #75e549;
$primary: #183819;
$text-primary: #fff;
$primary-light: #275c2b;
$sidebar-bg-color: #fafafa;
$topmenu-bg-color: $primary;
$border-color: #e1e1e1;
$sidemenu-icon-bg-color: #484a78;
$sidebar-width: 70px;
$page-bg-color: #ececef;
$badge-bg: #e75e40;
$sidebar-icon-color: #7c7c7c;
$dark-gray: #dfdfe6;
$light-gray: #f7f7f7;
$ks-theme-radius: 4px;

$sidebar-text-color: #000;
$invert: 0;
$icons-opacity: 0.7;
$drawer-bg: $primary;
$app-name-color: $primary;
$search-bg: $sidebar-bg-color;
$secondary-color: #5a5d7c;
$user-info-bg: #fff;
$menu-level-bg: #fafafa;
$kanban-bg: #dedee3;
$text-muted: #4f4f4f;
$btn-outlined-color: $primary;
$input-bg: #ececef;
$table-border-color: #dee2e6;
$table-text-color: #232323;
$table-text-muted: #7c7e80;
$table-hover-color: #dcdce7;
$table-row-focus: #fafafa;
$chekbox-color: #4c4c4c;

$notification-bg: #f8f9fa;
$primary-on-light: $primary;
$searchbar-bg-color: #fff;
$searchbar-border-color: #ccc;

$primary-and-grey: #e9ecef;
$label-color: $primary-light;
$text-white-gray: #3a3a3a;
$nav-active: #fff;
$placeholder-text: #7e7e7e;

$btn-primary: $primary;
$ks-dis-sidebar : #212529;
$ks-message-body: #fff;
$ks-message-search : #fff;
$ks-search-input : #000;